{% extends 'base.html' %}

{% block title %}Registro - Morfi{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 90vh; padding: 20px 0;">
    <form class="form-signin mx-auto shadow-sm p-4 rounded bg-white" style="max-width: 400px; width: 100%;" action="{{ url_for('auth.register') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <div class="text-center mb-2">
            <img src="{{ url_for('static', filename='MORFI.png') }}" alt="Morfi Logo" width="70">
            <p class="small mb-1" style="color: #F2673B; font-weight: 500;">No pierdas tiempo, Comé bien.</p>
        </div>

        <h1 class="h4 mb-3 fw-bold text-center">Registro</h1>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="name" name="name" placeholder="Tu nombre" required>
            <label for="name">Nombre Completo</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario" required>
            <label for="username">Nombre de Usuario</label>
        </div>

        <div class="form-floating mb-2">
            <input type="email" class="form-control" id="email" name="email" placeholder="tu@email.com" required>
            <label for="email">Email </label>
        </div>

        <div class="mb-3">
                <label for="fecha" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fecha" name="fecha">
            </div>

        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" minlength="8" required>
            <label for="password">Contraseña</label>
        </div>

        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirmar Contraseña" required>
            <label for="confirm_password">Confirmar Contraseña</label>
        </div>

        <button class="w-100 btn btn-primary py-2" type="submit" style="background-color: #F2673B; border: none; font-weight: 600;">Crear Cuenta</button>

        <div class="mt-2 text-center">
            <p class="small mb-1">o</p>
            <a href="{{ url_for('auth.login') }}" class="btn btn-outline-secondary btn-sm w-100">Ya tengo cuenta - Ingresar</a>
        </div>
    </form>
</div>
{% endblock %}
